*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
header{
    background-color: #5776eb;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
nav{
    background-color: #223fbd;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
figure{
    width: 10%;
    height: 80%;
    background-color: white;
}
ul{
    width: 45%;
    height: 80%;
    background-color: white;
}
#navbutton{
    width: 10%;
    height: 80%;
    background-color: white;
}
#undernav{
    background-color: #1927ab;
    height: 50%;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    background-color: white;
    height: 25%;
    width: 60%;
}
#headtext{
    background-color: white;
    height: 25%;
    width: 90%;
}
#undernavbutton{
    background-color: white;
    height: 25%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#under1{
    width: 20%;
    height: 70%;
    background-color: #5776eb;
}
#under2{
    width: 40%;
    height: 70%;
    background-color: #5776eb;
}